




<!-- Card -->

<mdb-card class="Iform">
    <br>
    <div class="col-md-12">   
      <form #instruments=ngForm (ngSubmit)="onSubmit()">

        
        <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="catogary 1" name="catogary" [(ngModel)]="catogary">
       
        <br>
        
    <div class="form-row mb-4">
                <div class="col">
        <input type="text" id="defaultRegisterFormSName" class="form-control" placeholder="Package 1"  name="package1" [(ngModel)]="package1">
                </div>
                <div class="col-md-4">
        <input type="text" id="defaultRegisterFormSName" class="form-control" placeholder="Price1"  name="price1" [(ngModel)]="price1">
                </div>
    </div>
        <br>

    <div class="form-row mb-4">
                <div class="col">
        <input type="text" id="defaultRegisterFormSName" class="form-control" placeholder="Package 2"  name="package2" [(ngModel)]="package2">
                </div>
                <div class="col-md-4">
        <input type="text" id="defaultRegisterFormSName" class="form-control" placeholder="Price2"  name="price2" [(ngModel)]="price2">
                </div>
    </div>
        <br>

    <div class="form-row mb-4">
                <div class="col">
        <input type="text" id="defaultRegisterFormSName" class="form-control" placeholder="Package 3"  name="package3" [(ngModel)]="package3">
                </div>
                <div class="col-md-4">
        <input type="text" id="defaultRegisterFormSName" class="form-control" placeholder="Price3"  name="price3" [(ngModel)]="price3">
                </div>
    </div>
       
        <button mdbBtn type="submit" color="default" class="waves-light" mdbWavesEffect>submit</button>
        <br>
        <br>
    
    </form>
   
</div>
  
  </mdb-card>

  <mdb-card class="Iform">
        <br>
        <div class="col-md-12">   
          <form #instruments=ngForm (ngSubmit)="onSubmit()">
    
            
            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="catogary 2" name="catogary" [(ngModel)]="catogary">
           
            <br>
            
        <div class="form-row mb-4">
                    <div class="col">
            <input type="text" id="defaultRegisterFormSName" class="form-control" placeholder="Package 1"  name="package1" [(ngModel)]="package1">
                    </div>
                    <div class="col-md-4">
            <input type="text" id="defaultRegisterFormSName" class="form-control" placeholder="Price1"  name="price1" [(ngModel)]="price1">
                    </div>
        </div>
            <br>
    
        <div class="form-row mb-4">
                    <div class="col">
            <input type="text" id="defaultRegisterFormSName" class="form-control" placeholder="Package 2"  name="package2" [(ngModel)]="package2">
                    </div>
                    <div class="col-md-4">
            <input type="text" id="defaultRegisterFormSName" class="form-control" placeholder="Price2"  name="price2" [(ngModel)]="price2">
                    </div>
        </div>
            <br>
    
        <div class="form-row mb-4">
                    <div class="col">
            <input type="text" id="defaultRegisterFormSName" class="form-control" placeholder="Package 3"  name="package3" [(ngModel)]="package3">
                    </div>
                    <div class="col-md-4">
            <input type="text" id="defaultRegisterFormSName" class="form-control" placeholder="Price3"  name="price3" [(ngModel)]="price3">
                    </div>
        </div>
           
            <button mdbBtn type="submit" color="default" class="waves-light" mdbWavesEffect>submit</button>
            <br>
            <br>
        
        </form>
       
    </div>
      
      </mdb-card>



  