<div style="height: 100vh">

<div id="cat">
<h3>Select Catagories</h3>

<!-- Default unchecked -->
<mdb-checkbox [default]="true">Gym</mdb-checkbox>
<!-- Default unchecked -->
<mdb-checkbox [default]="true">Sports clubs</mdb-checkbox>
<!-- Default unchecked -->
<mdb-checkbox [default]="true">Dancing acadamies</mdb-checkbox>
<!-- Default unchecked -->
<mdb-checkbox [default]="true">Other</mdb-checkbox>

</div>

<div class="pacage">
    <!-- First name -->
    <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Package 1">
    <br>
    <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Package 1">
 
</div>

</div>

