


<div class="gymImage">
  <div class="container flex-center">
    <img class="man2" src="assets/images/man2.png">
    <h1 class="title">GYM</h1>
    <h4 class="discription">Every person in the world would like to have a perfect<br>
       body. In order to have a healthy and a strong body, people<br>
        would need to consider going to a gym to work out. </h4>
        
  </div>

  </div>
  <div class="HomeBody">
    <br>
    <div class="container">
      <div class="categories">
    
          <div class="row">
              <div class="col-md-3">
                <mdb-card>
                  <mdb-card-img src="assets/images/girlshues.jpg" alt="Card image cap"></mdb-card-img>
                  <mdb-card-body>           
                    <mdb-card-title> <h4><a href="category/gym">Gyms</a></h4> </mdb-card-title>       
                    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>                
                  </mdb-card-body>
                </mdb-card>
              </div>
    
              <div class="col-md-3">
                <mdb-card>
                  <mdb-card-img src="assets/images/girlshues.jpg" alt="Card image cap"></mdb-card-img>
                  <mdb-card-body>           
                    <mdb-card-title> <h4><a href="category/Swimingpool">Swimming pools</a></h4> </mdb-card-title>       
                    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>                
                  </mdb-card-body>
                </mdb-card>
              </div>
    
              <div class="col-md-3">
                <mdb-card>
                  <mdb-card-img src="assets/images/girlshues.jpg" alt="Card image cap"></mdb-card-img>
                  <mdb-card-body>           
                    <mdb-card-title> <h4><a href="category/Dancing-Acadamies">Dancing Acedamies</a></h4> </mdb-card-title>       
                    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>                
                  </mdb-card-body>
                </mdb-card>
              </div>
              <div class="col-md-3">
                  <mdb-card>
                    <mdb-card-img src="assets/images/girlshues.jpg" alt="Card image cap"></mdb-card-img>
                    <mdb-card-body>           
                      <mdb-card-title> <h4>Dancing Acedamies</h4> </mdb-card-title>       
                      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>                
                    </mdb-card-body>
                  </mdb-card>
                </div>
                
          </div>
          
            <br>
            <br>
            
          <div class="row">
              <div class="col-md-3">
                <mdb-card>
                  <mdb-card-img src="assets/images/girlshues.jpg" alt="Card image cap"></mdb-card-img>
                  <mdb-card-body>           
                    <mdb-card-title> <h4>Sports Clubs</h4> </mdb-card-title>       
                    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>                
                  </mdb-card-body>
                </mdb-card>
              </div>
              <div class="col-md-3">
                <mdb-card>
                  <mdb-card-img src="assets/images/girlshues.jpg" alt="Card image cap"></mdb-card-img>
                  <mdb-card-body>           
                    <mdb-card-title> <h4>Yoga</h4> </mdb-card-title>       
                    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>                
                  </mdb-card-body>
                </mdb-card>
              </div>
              <div class="col-md-3">
                <mdb-card>
                  <mdb-card-img src="assets/images/girlshues.jpg" alt="Card image cap"></mdb-card-img>
                  <mdb-card-body>           
                    <mdb-card-title> <h4>Card Title</h4> </mdb-card-title>       
                    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>                
                  </mdb-card-body>
                </mdb-card>
              </div>
              <div class="col-md-3">
                  <mdb-card>
                    <mdb-card-img src="assets/images/girlshues.jpg" alt="Card image cap"></mdb-card-img>
                    <mdb-card-body>           
                      <mdb-card-title> <h4>Dancing Acedamies</h4> </mdb-card-title>       
                      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's content. </mdb-card-text>                
                    </mdb-card-body>
                  </mdb-card>
                </div>
          </div>
        </div>
    </div>
    <br>
    
    </div>