.navbar-brand{
    color:rgba(156, 158, 248, 0.5);
    font-style: italic;
    font-size: 30px;
    margin-left: -200px;
    font-family: cursive;
    text-shadow: 5px 5px 4px #6b6b75;
}

.navbar-nav mr-auto{
 border: 500px;
}

