

     
.Iform{
    margin: 60px;
    width: 500px;
    
    
}

.Idetails{
    margin: 50px;
    width: 1000px;
}

#submit1{
    background: linear-gradient(to right,rgb(0, 25, 139),blue,rgb(58, 69, 224),rgb(126, 131, 196));
}

h5{
    color: rgb(68, 91, 500);
    font-family:bolt;

}

