<ul class="list-inline">
  <li class="list-inline-item">
    <a mdbBtn floating="true" size="big" class="btn-fb waves-light" mdbWavesEffect>
      <i class="fa fa-facebook"> </i>
    </a>
  </li>
  <li class="list-inline-item">
    <a mdbBtn floating="true" size="big" class="btn-tw waves-light" mdbWavesEffect>
      <i class="fa fa-twitter"> </i>
    </a>
  </li>
  <li class="list-inline-item">
    <a mdbBtn floating="true" size="big" class="btn-gplus waves-light" mdbWavesEffect>
      <i class="fa fa-google-plus"> </i>
    </a>
  </li>
  <li class="list-inline-item">
    <a mdbBtn floating="true" size="big" class="btn-li waves-light" mdbWavesEffect>
      <i class="fa fa-linkedin"> </i>
    </a>
  </li>
  <li class="list-inline-item">
    <a mdbBtn floating="true" size="big" class="btn-git waves-light" mdbWavesEffect>
      <i class="fa fa-github"> </i>
    </a>
  </li>
  <li class="list-inline-item">
    <a mdbBtn floating="true" size="big" class="btn-pin waves-light" mdbWavesEffect>
      <i class="fa fa-pinterest"> </i>
    </a>
  </li>
  <li class="list-inline-item">
    <a mdbBtn floating="true" size="big" class="btn-ins waves-light" mdbWavesEffect>
      <i class="fa fa-instagram"> </i>
    </a>
  </li>
</ul>